
body {
    background-color: rgb(38, 0, 83);
    color: #ffffff;
    font-family: 'Rancho', serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4rem;
    display: grid;
    place-items: center;
    align-items: center;
}

section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 2s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
    /* transition: all 3s; */
}

@media (prefers-reduce-motion){
    .hidden{
        transition: none;
    }
}