@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float');
body {
    background-color: rgb(185, 81, 81);
    color: #ffffff;
    font-family: 'Rancho', serif;
    padding: 0;
    margin: 0;
}

section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    transition: all 2s;
}
.show{
    opacity: 1;
    transition: all 2s;
}