
body {
    background-color: #070518;
    background-image: linear-gradient(to bottom, rgba(117, 46, 210, 0.443) 0%, #070518 50%); 
    color: #ececec;
    font-family: 'Rancho', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4rem;
    display: grid;
    place-items: center;
    align-items: center;
}



section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 2s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
    /* transition: all 3s; */
}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}    
.card{
        width: 20rem;
        height: 15rem;
        background-color: #070518;
        background-image: linear-gradient(45deg, #070518, rgba(116,46,210,.82));
        border-radius: 1rem;
        transition: all 0.3s;
        box-shadow: 0 0.2rem 0rem -0.2rem rgba(255, 255, 255, 0.4);
        font-size: 2.5rem;
        display: grid;
        place-items: center;
        align-items: center;
        justify-content: center;
}
.card:hover{
    transform: scale(0.95);
    box-shadow:  0 0.1rem 1.5rem -.3rem rgba(255, 255, 255, 0.37);
}

.item-text-wrap {
    
    height: 95%;
    
    
}

/* .link{
    color:#ececec;
    text-underline-color: inherit;
} */

a{
    text-decoration: none;
    color:inherit;
}

/* .cardinhalt{
    font-size: 2rem;
    display: grid;
    place-items: center;
    align-items: center;
    vertical-align: center;
} */

@media (prefers-reduce-motion){
    .hidden{
        transition: none;
    }
}